doctype html
html(lang="ru")
    head
        meta(name='viewport' content='width=640')
        meta(charset="UTF-8")
        title Wellness club
        link(rel="stylesheet" href="css/libs.min.css")
        link(rel="stylesheet" href="css/main.min.css")
    body
        .wellc-container
            .wellc__logo.text-center
                img(src="img/header__logo.png")
            h1.wellc-heading.text-center Wellness club
            .wellc-title.text-center Откройте для себя мир новых ощущений и внутренних возможностей
            .wellc-description Face&Body Wellness club – это не просто центр красоты и здоровья. Это место, где Вы сможете отдохнуть телом и душой.
                br
                |Наш клуб разделён на зоны, в каждой из которых мы предоставим Вам, широкий спектр услуг по высочайшим стандартам качества.
                img(src="img/butterfly1.png").butterfly1
                img(src="img/header__ornament.png").description__ornament
            .wellc-section-left.wellc-section1
                img(src="img/butterfly2.png").butterfly2
                img(src="img/section1__img.png").section1__img
                .wellc-section1__heading.wellc-heading-left
                    h2 Косметология
                    .wellc-heading__text Красота стоит того, чтобы за нее бороться
                .wellc-content-left
                    .wellc-caption-left
                        span.caption-number 1.
                        |Эстетическая:
                        ul.wellc-list-left
                            li Программы ухода за кожей лица,
                                br
                                | различные виды пилингов, чистки;
                            li Эстетика для глаз;
                            li Широкий спектр массажных процедур;
                            li Все виды депиляции, шугаринг;
                            li Перманентный макияж;
                            li Прокалывание ушей.
                .wellc-content-left
                    .wellc-caption-left
                        span.caption-number 2.
                        | Аппаратная:
                        ul.wellc-list-left
                            li Лазерная эпиляция;
                            li Лазерное удаление сосудов, пигментации;
                            li Фотоэпиляция;
                            li Фотоомоложение;
                            li RF-лифтинг лица и тела
                            li Терапия на аппарате «Сургитрон».
                .wellc-content-left
                    .wellc-caption-left
                        span.caption-number 3.
                        | Инъекционная (уколы красоты):
                        ul.wellc-list-left
                            li Мезотерапия;
                            li Биоревитализация;
                            li Контурная и объемная пластика;
                            li Фотоомоложение;
                            li Векторный лифтинг;
                            li Коррекция мимических морщин.
            .wellc-section-right.wellc-section2
                img(src="img/butterfly3.png").butterfly3
                img(src="img/butterfly4.png").butterfly4
                img(src="img/section2__img.jpg").section2__img
                .wellc-section2__heading.wellc-heading-right
                    h2 СПА-зона
                    .wellc-heading__text Радость для тела, наслаждение для души
                ul.wellc-list-right
                    li Различные виды массажа;
                    li Пилинги;
                    li Обертывания;
                    li    Программы «Стройный силуэт» от ALGOTERM;
                    li    Эксклюзивные процедуры для тела и души
                        br
                        |SALIN de BIOSEL;
                    li    Эксклюзивные программы ухода за телом
                        br
                        |на SPA-кушетке LLUVIA.
            .wellc-section-left.wellc-section3
                img(src="img/butterfly5.png").butterfly5
                img(src="img/section3__img.png").section3__img
                .wellc-section3__heading.wellc-heading-left
                    h2 Салон красоты
                    .wellc-heading__text Искусство быть красивой
                .wellc-content-left
                    .wellc-caption-left
                        span.caption-number 1.
                        | Полный спектр услуг
                        br
                        | парикмахерской:
                    | стрижки, укладки, окрашивания, завивки,
                    br
                    | выпрямление, плетения, прически,
                    br
                    | Makeup, услуги для детей и мужчин.
                .wellc-content-left
                    .wellc-caption-left
                        span.caption-number 2.
                        | Услуги трихолога:
                    | консультация,
                    br
                    | лечение и профилактика
                    br
                    | болезней волос.
                .wellc-content-left
                    .wellc-caption-left
                        span.caption-number 3.
                        | Ногтевой сервис:
                    | SPA-уходы от La Ric, покрытие SHELLAC, JESSICA, биогель, OPI, CHRISTINA FITZGERALD, моделирование ногтей (гель, акрил), подология – медицинский педикюр (GEHWOL, PECLAVUS).
            .wellc-section-right.wellc-section4
                img(src="img/butterfly6.png").butterfly6
                img(src="img/butterfly7.png").butterfly7
                img(src="img/section4__img.jpg").section4__img
                img(src="img/section4__ornament.png").section4__ornament
                .wellc-section4__heading.wellc-heading-right
                    h2 Акватермальная зона
                    .wellc-heading__text Блаженство релаксации
                ul.wellc-list-right
                    li Сауна/Баня;
                    li    Хамам;
                    li    Джакузи с гидромассажем;
                    li Бассейн с противотоком.
            .wellc-section-left.wellc-section5
                img(src="img/butterfly8.png").butterfly8
                img(src="img/butterfly9.png").butterfly9
                img(src="img/section5__img.png").section5__img
                .wellc-section5__heading.wellc-heading-left
                    h2 Фитнес-зона
                    .wellc-heading__text Мощный заряд энергии и бодрости
                .wellc-content-left
                    .wellc-caption-left Индивидуальные и групповые занятия
                    |по широкому спектру фитнес направлений:
                    ul.wellc-list-right
                        li fitness;
                        li pilates;
                        li    bosu;
                        li    flex;
                        li    light training;
                        li    lowbodypower;
                        li    dance;
                        li    fit&dance;
                        li    йога;
                        li  аэробика.
            .wellc-section-right.wellc-section6
                img(src="img/butterfly10.png").butterfly10
                img(src="img/section6__img.jpg").section6__img
                img(src="img/section6__ornament.png").section6__ornament
                .wellc-section6__heading.wellc-heading-right
                    h2 Студия загара
                    .wellc-heading__text Золотое прикосновение солнечных лучей
                .wellc-content-right Вертикальный турбосолярий.
                    br
                    | Профессиональная косметика.
            .wellc-section-left.wellc-section7
                img(src="img/section7__img.png").section7__img
                .wellc-section7__heading.wellc-heading-left
                    h2 Бутик Wellness club
                        br
                        |Face&Body
                .wellc-content-left
                    p Здесь Вы можете приобрести качественную и
                        |профессиональную косметику, а так же аксессуары
                        |премиум-класса признанных брендов.

                    p У нас Вы найдёте:
                    ul.wellc-list-dash
                        li косметику для лица;
                        li косметику для тела;
                        li косметику для волос;
                        li косметику для рук, ног и ногтей;
                        li лечебную и дерматологическую косметику
                        li для всех типов кожи;
                        li сопутствующие аксессуары, парфюмерию;
                        li аксессуары для дома.
            .wellc-footer
                .wellc-footer__text.text-right
                    img(src="img/footer__texterra-logo.png").wellc-footer__logo
                    |Специально для
                    br
                    |facebodyclub.ru